<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="https://res.cloudinary.com/drpgvnojt/image/upload/v1696139441/WhatsApp_Image_2023-10-01_at_11.19.01_76436c15_scfkah.jpg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/app.css" />
    <title>Syllabus</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white sticky-top"
      style="font-family: 'Inconsolata', monospace"
      id="navbar"
      id="navbar"
    >
      <a class="navbar-brand" style="margin-top: 0.2rem; color: black"
        ><img
          src="https://res.cloudinary.com/drpgvnojt/image/upload/c_crop,w_400,h_100/v1697041714/Sponym_1_eazof2.png"
          width="150px"
          alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a
              class="nav-link"
              href="/"
              style="
                font-weight: 600;
                font-size: large;
                margin-top: 0.25rem;
                color: rgb(4, 4, 49);
              "
              >Home<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a
              class="nav-link"
              href="/home"
              style="
                font-weight: 600;
                font-size: large;
                margin-top: 0.25rem;
                color: rgb(4, 4, 49);
              "
              id="STAY"
              >JNTUA <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a
              class="nav-link"
              href="/allsubjects"
              style="
                font-weight: 600;
                font-size: large;
                margin-top: 0.25rem;
                color: rgb(1, 1, 26);
              "
              id="STAY1"
              >Subjects</a
            >
          </li>
          <li class="nav-item active">
            <a
              class="nav-link"
              href="/syllabus"
              style="
                font-weight: 600;
                font-size: large;
                margin-top: 0.25rem;
                color: rgb(3, 3, 40);
              "
              id="STAY2"
              >Syllabus</a
            >
          </li>
          <li class="nav-item active">
            <a
              class="nav-link"
              href="/updates"
              style="
                font-weight: 600;
                font-size: large;
                margin-top: 0.25rem;
                color: rgb(3, 3, 40);
              "
              id="STAY3"
              >Updates</a
            >
          </li>
          <!-- <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="font-weight: 600; font-size: large;">
          Dropdown link
        </a>
        <div class="dropdown-menu bg-none" aria-labelledby="navbarDropdownMenuLink" style="background-color: beige;">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
        </ul>
      </div>
    </nav>
    <!-- style="background-color:rgb(208, 220, 164) !important;" -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <div class="intro">
      <div class="logo" id="text-focus-in" data-glitch="sponym">sponym</div>
      <div class="info">
        <p>
          Sponym is a one stop destination for Btech Engineers for their Exam
          prepartion Requirements.
        </p>
        <p>
          We provide all the essential files Imp questoins,Syllabus,Previous
          papers etc for Students.
        </p>
      </div>
    </div>
    <div id="jntua">
      <p class="jntua">Jntua</p>
      <p class="navigationinfo">
        The studnets who are under Jntua affiliation on R20 Regulation follow
        for more.
      </p>
      <div class="space"></div>
      <a class="home" href="/home">Jntua Regulation - R20</a>
    </div>
    <div class="filesbegging">
      <p>
        🙏Kindly feel free to share your PDF files to our Gmail and assist other
        students.🙏
      </p>
    </div>
    <div class="bg-white">
      <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
              <a href="/" class="nav-link px-2 text-muted">Home</a>
            </li>
            <li class="nav-item">
              <a href="/home" class="nav-link px-2 text-muted">Jntua</a>
            </li>
            <li class="nav-item">
              <a
                href="mailto:sponym.dev@gmail.com"
                class="nav-link px-2 text-muted"
                onmouseover="toggle('fa-solid fa-envelope','e')"
                onmouseleave="toggle('fa-regular fa-envelope','e')"
                >Gmail: <i class="fa-regular fa-envelope" id="e"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                href="https://instagram.com/rishisivarajy?igshid=MTk0NTkyODZkYg=="
                class="nav-link px-2 text-muted"
                onmouseover="toggle('fa-brands fa-square-instagram','z')"
                onmouseleave="toggle('fa-brands fa-instagram','z')"
                >Instagram: <i class="fa-brands fa-instagram" id="z"></i
              ></a>
            </li>
            <!-- <li class="nav-item"><a href="" class="nav-link px-2 text-muted"  onmouseover="toggles('fa-solid fa-paper-plane')" onmouseleave="toggles('fa-regular fa-paper-plane')" >Telegram: <i class="fa-regular fa-paper-plane" id="z"></i></a></li> -->
            <!-- <li class="nav-item"><a href="" class="nav-link px-2 text-muted"  onmouseover="toggle('fa-brands fa-square-github','g')" onmouseleave="toggle('fa-brands fa-github','g')" >Github: <i class="fa-brands fa-github" id="g"></i></a></li> -->
            <li class="nav-item">
              <a href="/about" class="nav-link px-2 text-muted">About</a>
            </li>
          </ul>
          <p class="text-center text-muted">&copy; 2023 Sponym.com</p>
        </footer>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/2d7fa371c0.js"
      crossorigin="anonymous"
    ></script>
    <script>
      const toggle = (a, b) => {
        const icon = document.getElementById(b);
        const data = icon;
        data.setAttribute("class", a);
      };
    </script>
  </body>
</html>
